body {
    background-color: #2f4070;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(183, 156, 156);
    text-align: center;
}


#btnContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
}

button {
   width: 500px;
   height: 50px;
   font-size: 25px;
  
   color: #2f4070;
   border-radius: 15px;
}

body > div {
    margin-top: 50px;
    font-size: 25px;
}